<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<script>
$(document).ready(function(){
    $('.btn-primary').tooltip({title: "Save these changes", trigger: "hover"});
    $('.form-control-static').tooltip({title: "Name must be between three and fifteen characters", trigger: "hover"});
    $('.form-control-label').tooltip({title: "Description must be at least one character", trigger: "hover"});
    $('.form-control-warning').tooltip({title: "Category must be one of these", trigger: "hover"});
});
</script>

<body>

<nav th:replace="fragments :: navigationCheese"></nav>

<form method="post" style="max-width:600px;margin-top:72px" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control form-control-static" placeholder="The name the cheese will be known as" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control form-control-label" placeholder="A short summary of the cheese" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Type</label>
        <select class="form-control form-control-warning" name="categoryId">
            <option th:each="categori : ${categories}"
                    th:text="${categori.name}"
                    th:value="${categori.id}"
                    th:selected="@{${category} != NULL ? ${category.id} == ${categori.id} : false}">
            </option>
        </select>
    </div>
    <input type="hidden" th:value="${cheeseId}" name="cheeseId" />

    <input class="btn btn-primary" type="submit" value="Edit Cheese" />
</form>

</body>
</html>
