<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>Edit Cheese NAME (id=ID)</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
    </div>

    <input type="submit" value="Add Cheese" />

    <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
</form>

</body>
</html>
