<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<script th:replace="fragments :: tooltip"></script>

<body>

<nav th:replace="fragments :: navigationUser"></nav>

<table class="table" style="margin-top:72px">

    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Password</th>
        <th></th>
    </tr>

    <tr th:each="user : ${users}">
        <td>
            <a data-toggle="tooltip" th:title="'Click to see a list of menu(s) in the ' + ${user.username} + ' user'"  th:href="'/user/view/' + ${user.id}" th:text="${user.username}"></a>
        </td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <a data-toggle="tooltip" th:title="'Click to edit the username, email and password of this user'" th:href="@{'/user/edit/' + ${user.id}}">edit</a>
        </td>
    </tr>

</table>

<p th:unless="${users} and ${users.size()}">no user :(</p>

</body>
</html>