<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--<script th:replace="fragments :: modalScript"></script>-->
<script>
$(document).ready(function(){
    $('.btn-primary').tooltip({title: "Save these changes", trigger: "hover"});
    $('.form-control-static').tooltip({title: "Name must be between three and fifteen characters", trigger: "hover"});
});
</script>
<!--<style th:replace="fragments :: modalStyle"></style>-->
<body>

<nav th:replace="fragments :: navigationCategory"></nav>

<form method="post" style="max-width:600px;margin-top:72px" th:object="${category}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control form-control-static" id="name" name="name" placeholder="The name the category will be known as" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <input type="hidden" th:value="*{id}" name="categoryId" />

    <input class="btn btn-primary" type="submit" value="Edit Category" />
</form>

<!--<div th:replace="fragments :: modal"></div>
-->
</body>
</html>
