<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<script>
$(document).ready(function(){
    $('.btn-primary').tooltip({title: "Add this cheese to the menu", trigger: "hover"});
    $('.form-control-static').tooltip({title: "Cheese must be one of these", trigger: "hover"});
});
</script>

<body>

<!--<h1 th:text="${title}">Default Title</h1>-->

<nav th:replace="fragments :: navigationMenu_cheeses"></nav>

<form method="post" style="max-width:600px;margin-top:72px" th:object="${form}" action="/menu/add-item">

    <div class="form-group">
        <label th:for="cheeseId">Cheese</label>
        <select class="form-control form-control-static" name="cheeseId">
            <option th:each="cheese : *{cheeses}"
                    th:text="${cheese.name}"
                    th:value="${cheese.id}"></option>
        </select>
    </div>

    <input type="hidden" name="menuId" th:value="*{menu.id}" />

    <input class="btn btn-primary" type="submit" value="Add Item" />
</form>

</body>
</html>