<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<script th:replace="fragments :: tooltip"></script>

<body>

<nav th:replace="fragments :: navigationMenu"></nav>

<table class="table" style="margin-top:72px">

    <tr>
        <th>Name</th>
    </tr>

    <tr th:each="menu : ${menus}">
        <td>
            <a data-toggle="tooltip" th:title="'Click to see a list of cheese(s) in the ' + ${menu.name} + ' menu'"  th:href="'/menu/view/' + ${menu.id}" th:text="${menu.name}"></a>
        </td>
    </tr>

</table>

<p th:unless="${menus} and ${menus.size()}">no menu :(</p>

</body>
</html>