<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigationCategory">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="${title}">Default Title</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li th:class="${title == 'Categories' ? 'active' : ''}"><a href="/category">List</a></li>
                <li th:class="${title == 'Add Category' ? 'active' : ''}"><a href="/category/add">Add</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cheese<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cheese">List</a></li>
                        <li><a href="/cheese/add">Add</a></li>
                        <li><a href="/cheese/remove">Remove</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/menu">List</a></li>
                        <li><a href="/menu/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">List</a></li>
                        <li><a href="/user/add">Add</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigationCheese">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="${title}">Default Title</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li th:class="${title == cheese.titleList ? 'active' : ''}"><a href="/cheese">List</a></li>
                <li th:class="${title == 'Add Cheese' ? 'active' : ''}"><a href="/cheese/add">Add</a></li>
                <li th:class="${title == 'Remove Cheese' ? 'active' : ''}"><a href="/cheese/remove">Remove</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/category">List</a></li>
                        <li><a href="/category/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/menu">List</a></li>
                        <li><a href="/menu/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">List</a></li>
                        <li><a href="/user/add">Add</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigationMenu">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="${title}">Default Title</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li th:class="${title == 'Menus' ? 'active' : ''}"><a href="/menu">List</a></li>
                <li th:class="${title == 'Add Menu' ? 'active' : ''}"><a href="/menu/add">Add</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/category">List</a></li>
                        <li><a href="/category/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cheese<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cheese">List</a></li>
                        <li><a href="/cheese/add">Add</a></li>
                        <li><a href="/cheese/remove">Remove</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">List</a></li>
                        <li><a href="/user/add">Add</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigationMenu_cheeses">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="${title}">Default Title</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/category">List</a></li>
                        <li><a href="/category/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cheese<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cheese">List</a></li>
                        <li><a href="/cheese/add">Add</a></li>
                        <li><a href="/cheese/remove">Remove</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/menu">List</a></li>
                        <li><a href="/menu/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">List</a></li>
                        <li><a href="/user/add">Add</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigationUser">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="${title}">Default Title</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li th:class="${title == 'Hello username' ? 'active' : ''}"><a href="/user">List</a></li>
                <li th:class="${title == 'Add User' ? 'active' : ''}"><a href="/user/add">Add</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/category">List</a></li>
                        <li><a href="/category/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cheese<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cheese">List</a></li>
                        <li><a href="/cheese/add">Add</a></li>
                        <li><a href="/cheese/remove">Remove</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/menu">List</a></li>
                        <li><a href="/menu/add">Add</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

</body>
</html>